body {
    --background-color: #242424;
    --color-primary: #fff;
    --color-secondary: #4bffa5;
    background-color: var(--background-color);
    font-family:  'Open Sans', Arial, Helvetica, sans-serif;
    margin: 0;
}
h1, h2, h3, h4 {
    color: var(--color-secondary);
    margin: 0;
}
a {
    color: var(--color-secondary);
    text-decoration: none;
}
li {
    list-style: none;
}
li > a {
    color: #d2d0db;
    transition: color .3s;
}
li > a:hover {
    color: var(--color-secondary);
}
/* collsapsibles */
.collapsible__header {
display: flex;
justify-content: space-between;
}

.collapsible__content {
max-height: 0;
overflow: hidden;
opacity: 0;
transition: all 0.3s;
}

.collapsible--expanded .collapsible__content {
max-height: 100vh;
opacity: 1;
}
  
/* icons */
.icon {
    height: 40px;
    width: 40px;
    fill: var(--color-primary);
}
/* top-nav */
.logo {
    font-weight: bold;
    font-size: 1.3rem;
    margin-left: 0;
}
.top-nav {
    background-color: var(--background-color);
    position: sticky;
    top: 0;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem;
    border-bottom: 1px solid #323232;
    cursor: pointer;
}
  

.nav__list {
    width: 100%;
    margin: 0;
}
.nav__item {
    padding: .6rem;
    font-size: 1.23rem;
    width: 100%;
}

@media screen and (min-width:768px) {
    .top-nav {
        border-bottom: none;
    }
    .nav__toggler {
        display: none;
    }
    .nav__list {
        width: auto;
        display: flex;
        flex-direction: row;
        max-height: 100%;
        opacity: 1;
        margin-right: 7rem;
    }
    .nav__item {
        font-size: 1.1rem;
        margin-right: 1rem;
    }
}

.home {
    color: var(--color-secondary);
}


/* main-body */
.main-body {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0 2rem 0 1rem;
}

.body__text {
    color: var(--color-primary);
}
.backend {
    color: var(--color-secondary);
}
.intro__txt {
    line-height: 1.5;
    padding-right: 1rem;
    font-size: 1.1rem;
}
.hello {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: -.4rem;
}
.name {
    font-size: 3rem;
    margin: -1rem 0 -1rem 0;
}
.backend {
    font-size: 2rem;
    font-weight: bold;
}

.im {
    color: var(--color-primary);
}
p {
    color: var(--color-primary);
}

.img {
    animation: img-portfile 8s ease-in-out infinite;
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    margin: 3rem 0 1rem .9rem;
    width: 85vw;
}
/* Icons */
.body__icons {
    color: var(--color-secondary);
    display: flex;
}
.bx {
    border-radius: 100%;
    border: 2px solid var(--color-secondary);
    font-size: 1.5rem;
    margin-right: .8rem;
    padding: .5rem;
    transition: box-shadow .3s;
}
.bx:hover {
    background-color: var(--color-secondary);
    box-shadow: 0 0 10px var(--color-secondary);
    color: #393131;
}

/* Button */
.btn {
    background-color: var(--color-secondary);
    border-radius: 55px;
    border: 1.5px solid var(--color-secondary);
    box-shadow: 0 0 10px var(--color-secondary);
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500px;
    margin-top: 2rem;
    padding: 1rem 3rem;
    text-align: center;
    transition: background-color .3s;
}
.btn:hover {
    background-color: var(--background-color);
    border: 1.5px solid var(--color-secondary);
    box-shadow: none;
    color: var(--color-secondary);
}

@media screen and (min-width:768px) {

    .img {
        align-self: center;
        width: 35rem;
    }
    .main-body {
        align-items: flex-start;
        margin-left: 1rem;
    }
    .logo {
        margin-left: 3rem;
    }
}

/* Desktop */
@media screen and (min-width:1024px) {
    .main-body {
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    }
    .img {
        margin: 0 1rem 1rem;
        margin-right: 4rem;
        width: 41%;
    }
    .bd-text {
        margin: .5rem 0 0 5rem;
    }
    .intro__txt {
        margin-right: 4rem;
    }
}

@keyframes img-portfile{
    0%{
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
    50%{
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }
    100%{
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
}
/* Skills */
.skills__h1 {
    text-align: center;
    /* margin-bottom: 40px; */
}
.skill__h2{
    margin: 0;
    font-size: 1.25rem;
}
.skill__p {
    margin: 0rem 0 1.5rem 0;
}

.skill {
    margin-top: 1rem;
}

.skills__icons {
    display: flex;
    flex-direction: column;
    margin-left: 1.4rem;
    color: var(--color-secondary);
 
}
.skill__bx {
    font-size: 1.7rem;
    /* border: 0; */
}

@media screen and (min-width: 768px) {
    .skills__icons {
        align-content: center;
        align-items: center;
        display: grid;
        grid-template-columns: repeat(1, .9fr);
        grid-template-rows: repeat(2, 150px);
        grid-template-columns: repeat(2, 2fr);
        /* margin-top: 80px; */
        justify-content: center;
        justify-items: center;
    }
    .skill {
        padding: 0 45px;
}
}

@media screen and (min-width:1024px) {

    .skills__icons {
        grid-template-columns: repeat(3, 3fr);
        grid-template-rows: repeat(1, 200px); 
        padding: 0 2.6rem;
        /* margin-top: 0; */
        align-content: center;
        justify-content: center;
        /* text-align: center; */

    }

}



/* Projects Section */
.projects__h1 {
    text-align: center;
    margin: 1rem;
}
.projects {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}
.project__card{
    background: #14161a;
    border-radius: 6px;
    margin-bottom: 2.5rem;
    /* padding: 1rem; */
    width: 18rem;
    transition: scale .15s;
}

.project__card:hover {
    scale: 1.02;
}
.project__img {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    width: 100%;
}
.project__title, .project__description, .project__btn {
    margin-left: 1rem;
}
.project__title {
    color: var(--color-secondary);  
    margin: .5rem 0 .5rem 1rem;
    font-size: 1rem;
    font-weight: 600;
}

.project__description {
    color: #fff;
    margin-right: 1rem;
}
.project__btns {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: -1rem 0 2rem -1rem;
}
.project__btn {
    background-color: var(--background-color);
    border-radius: 4px;
    border: 0;
    box-shadow: none;
    color: var(--color-secondary);
    font-size: .9rem;
    margin-bottom: -1rem;
    padding: .5rem;
    font-weight: bold;
    /* text-align: center; */
}


@media screen and (min-width:768px) {
    .projects {
        flex-direction: row;
    }
    .project__card {
        margin: 3rem 0 0 2rem;
        width: 18rem;
    }
}

@media screen and (min-width:1024px) {
    .projects {
        flex-direction: row;

    }
    .project__card {
        width: 18rem;
    }
}
/* About page */

.about__h1 {
    text-align: center;
    margin-bottom: 1rem;
}
.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    
}
.about__txt {
    padding: 1rem;
}
.about__img {
    border-radius: 100%;
    width: 90%;
}

@media screen and (min-width:768px) {
    .about__img {
        width: 65%;
    }
    .about__txt {
        padding: 2rem;
    }
}

@media screen and (min-width: 1024px) {
    .about {
        flex-direction: row;
        justify-content: center;
        align-items:  center;
        height: 90vh;
    }
    .about__img {
        width: 35%;
        margin-left: 6rem;
        clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
    }
    .about__txt {
        padding: 9rem;
        margin-left: -7rem;
    }
}