* {
    scroll-behavior: smooth;
}
body {
    --background-color: #242424;
    --color-primary: #fff;
    --color-secondary: #4bffa5;
    background-color: var(--background-color);
    font-family:  'Open Sans', Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
}
h1, h2, h3, h4 {
    color: var(--color-secondary);
    margin: 0;
}
a {
    color: var(--color-secondary);
    text-decoration: none;
}
li {
    list-style: none;
}
li > a {
    color: #d2d0db;
    transition: color .3s;
}
li > a:hover {
    color: var(--color-secondary);
}
/* collsapsibles */
.collapsible__header {
display: flex;
justify-content: space-between;
}

.collapsible__content {
max-height: 0;
overflow: hidden;
opacity: 0;
transition: all 0.3s;
}

.collapsible--expanded .collapsible__content {
max-height: 100vh;
opacity: 1;
}
  
/* icons */
.icon {
    height: 40px;
    width: 40px;
    fill: var(--color-primary);
}
/* top-nav */
.logo {
    font-weight: bold;
    font-size: 1.3rem;
    margin-left: 0;
}
.top-nav {
    background-color: var(--background-color);
    position: sticky;
    top: 0;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem;
    border-bottom: 1px solid #323232;
    cursor: pointer;
}
  

.nav__list {
    width: 100%;
    margin: 0;
}
.nav__item {
    padding: .6rem;
    font-size: 1.23rem;
    width: 100%;
}

@media screen and (min-width:768px) {
    .top-nav {
        border-bottom: none;
    }
    .nav__toggler {
        display: none;
    }
    .nav__list {
        width: auto;
        display: flex;
        flex-direction: row;
        max-height: 100%;
        opacity: 1;
        margin-right: 7rem;
    }
    .nav__item {
        font-size: 1.1rem;
        margin-right: 1rem;
    }
}

.home {
    color: var(--color-secondary);
}


/* main-body */
.main-body {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0 2rem 0 1rem;
}

.body__text {
    color: var(--color-primary);
}
.backend {
    color: var(--color-secondary);
}
.intro__txt {
    line-height: 1.5;
    padding-right: 1rem;
    font-size: 1.1rem;
    font-weight: 400;
}
.hello {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: -.4rem;
}
.name {
    font-size: 3rem;
    margin: -1rem 0 -1rem 0;
}
.backend {
    font-size: 2rem;
    font-weight: bold;
}

.im {
    color: var(--color-primary);
}
p {
    color: var(--color-primary);
}

.img {
    /* animation: img-portfile 8s ease-in-out infinite; */
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    margin: 3rem 0 1rem .9rem;
    width: 85vw;
}
/* Icons */
.body__icons {
    color: var(--color-secondary);
    display: flex;
}
.bx {
    border-radius: 100%;
    border: 2px solid var(--color-secondary);
    font-size: 1.5rem;
    margin-right: .8rem;
    padding: .5rem;
    transition: box-shadow .3s;
}
.bx:hover {
    background-color: var(--color-secondary);
    box-shadow: 0 0 10px var(--color-secondary);
    color: #393131;
}

/* Button */
.btn {
    border-radius: 55px;
    border: 2px solid var(--color-secondary);
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500px;
    margin-top: 2rem;
    padding: 1rem 3rem;
    text-align: center;
    transition: background-color .3s;
    background-color: var(--background-color);
    color: var(--color-secondary);
}
.btn:hover {
    background-color: var(--color-secondary);
    box-shadow: 0 0 10px var(--color-secondary);
    border: 1.5px solid var(--color-secondary);
    /* box-shadow: none; */
    color: #000;
}

@media screen and (min-width:768px) {

    .img {
        align-self: center;
        width: 35rem;
    }
    .main-body {
        align-items: flex-start;
        margin-left: 1rem;
    }
    .logo {
        margin-left: 3rem;
    }
}

/* Desktop */
@media screen and (min-width:1024px) {
    .main-body {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
    }
    .img {
        margin: 0 1rem 1rem;
        margin-right: 5rem;
        width: 41%;
    }
    .bd-text {
        margin: .5rem 0 0 5rem;
    }
    .intro__txt {
        margin-right: 4rem;
    }
}

@keyframes img-portfile{
    0%{
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
    50%{
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }
    100%{
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
}

/* skills */

.skill-h1 {
    text-align: center;
    margin: 1rem;
    font-size: 1.85rem;
}

.skill-title {
    font-size: 1.4rem;
}



/* Projects Section */

.projects__h1 {
    text-align: center;
    margin: 1rem;
}
.projects {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}
.project__card{
    background: #14161a;
    border-radius: 6px;
    margin-bottom: 2rem;
    width: 90%;
    transition: scale .15s;
}

.project__card:hover {
    scale: 1.02;
}
.project__img {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    width: 100%;
}
.project__title, .project__description, .project__btn {
    margin-left: 1rem;
}
.project__title {
    color: var(--color-secondary);  
    margin: .5rem 0 .5rem 1rem;
    font-size: 1.1rem;
    font-weight: 700;
}

.project__description {
    color: #fff;
    margin-right: 1rem;
}
.project__btns {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: -1rem 0 2rem -1rem;
}
.project__btn {
    background-color: var(--background-color);
    border-radius: 4px;
    border: 0;
    box-shadow: none;
    color: var(--color-secondary);
    font-size: .9rem;
    margin-bottom: -1rem;
    padding: .5rem 34%;
    font-weight: bold;
}

.project__btn:hover {
    background-color: var(--color-secondary);
    box-shadow: none;
    border: 1px solid var(--color-secondary);
    color: var(--background-color)
}

@media screen and (min-width: 576px) {
    .project__card {
        width: 50%;
    }
}

@media screen and (min-width:768px) {
    .projects {
        flex-direction: row;
    }
    .project__card {
        margin: 2rem 0 0 2rem;
        width: 18rem;
    }
}

@media screen and (min-width:1024px) {
    .projects__h1 {
        margin: 0;
        padding: 0;
    }
  .projects {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    .project__card {
        width: 20rem;
        margin-bottom: 0;
    }

    .project__btn {
        width: 85%;
    }

    .projects__body {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
} 
  

 
/* About page */

.about__h1 {
    text-align: center;
    /* margin-bottom: 1rem; */
    font-weight: bold;
    text-align: left;
    margin-bottom: -.5rem;
}
.about__h2 {
    color: var(--color-primary);
    font-size: 1.5rem;
    margin:.5rem 0 .8rem 0;
}
.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    
}
.about__txt {
    padding: 1rem;
}
.about__img {
    border-radius: 100%;
    width: 90%;
    clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
}

@media screen and (min-width:768px) {
    .about__img {
        width: 65%;
    }
    .about__txt {
        padding: 2rem;
    }
    .project__btn {
        padding: .5rem 6.5rem;
    }
}

@media screen and (min-width: 1024px) {
    .about {
        flex-direction: row;
        justify-content: center;
        align-items:  center;
        height: 90vh;
    }
    .about__img {
        width: 35%;
        margin-left: 6rem;

        /* clip-path: polygon(25% 0%, 75% 0%, 100% 100%, 0% 100%); */
        clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
        /* clip-path: polygon(20% 0%, 100% 0%, 80% 100%, 0% 100%); */
    }
    .about__txt {
        padding: 9rem;
        margin-left: -7rem;
    }
}