<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <title>About Me</title>
  <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
  <div class="about">
    <img src="/images/Image.jpg" alt="joe's image" class="about__img">
    <div class="about__txt">
        <h2 class="about__h2">About Me</h2>
          <p>I am a passionate web developer with expertise in Django and other web technologies. With years of experience, I have built numerous successful web applications that provide value to users.</p>
          <p>I am dedicated to delivering high-quality code and creating intuitive user experiences. My skills in HTML, CSS, JavaScript, and Bootstrap enable me to build responsive and visually appealing websites.</p>
          <p>Whether it's crafting a robust backend or designing an elegant frontend, I strive to exceed expectations and make a positive impact in the digital world. Let's work together to bring your ideas to life!</p>
      </div>
    </div>
  </div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>


