<div class="main-body">
  <div class="bd-text animate__animated animate__fadeInLeft">
    <h4 class="body__text hello">Hello Im</h4>
    <br />
    <h2 class="body__text name">Joe Konlan</h2>
    <br />
    <span class="body__text backend">Back-End Developer</span><br />
    <p class="intro__txt">
      Hi am Konlan from Ghana, and I love to build web apps with Django!.
      Want me on a project or want to hire me?. Get in touch!
    </p>
    <div class="body__icons">
      <a href="https://www.facebook.com/konlan.moses1" target="_blank"
        ><i class="bx bxl-facebook"></i
      ></a>
      <!-- <i class='bx bxl-facebook'></i> -->
      <a href="https://www.instagram.com/joeykonlan/" target="_blank"
        ><i class="bx bxl-instagram"></i
      ></a>
      <a
        href="https://gh.linkedin.com/in/joseph-konlan-191548249?trk=people-guest_people_search-card"
        target="_blank"
      >
        <i class="bx bxl-linkedin"></i>
      </a>
      <a href="mailto:joekonlan16@gmail.com"
        ><i class="bx bx-envelope"></i
      ></a>
    </div>
    <a href="#"><button class="btn">Download CV</button></a>
    <!-- <button class="btn">Download CV</button> -->
  </div>
  <img
    src="/images/Image.jpg"
    alt=""
    class="img animate__animated animate__fadeInUp animate__repeat-1"
  />
</div>