<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Latest Projects</h1>
    <div class="projects">
      <div class="project__card">
        <img
          src="/images/placeholder.png"
          alt="saphora-proj-img"
          class="saphora__img"
        /> <br>
        <h2 class="saphora__h1">Saphora</h2>
        <div class="project__description">
          Saphora is an online ecommerce store which is built with paypal integration.
          Users can choose to pay with their credit cards or paypal.
        </div>
        <button class="btn project__btn">Live Demo</button>
        <button class="btn project__btn project__github">Github</button>
      </div>
      <div class="project__card">
        <img
          src="/images/placeholder.png"
          alt="saphora-proj-img"
          class="saphora__img"
        /> <br>
        <h2 class="saphora__h1">Starbuy</h2>
        <div class="project__description">
          Saphora is an online ecommerce store which is built with paypal integration.
          Users can choose to pay with their credit cards or paypal.
        </div>
        <button class="btn project__btn">Live Demo</button>
        <button class="btn project__btn project__github">Github</button>
      </div>
      <div class="project__card">
        <img
          src="/images/placeholder.png"
          alt="saphora-proj-img"
          class="saphora__img"
        /> <br>
        <h2 class="saphora__h1">Todo app</h2>
        <div class="project__description">
          Saphora is an online ecommerce store which is built with paypal integration.
          Users can choose to pay with their credit cards or paypal.
        </div>
        <button class="btn project__btn">Live Demo</button>
        <button class="btn project__btn project__github">Github</button>
      </div>
      <div class="project__card">
        <img
          src="/images/placeholder.png"
          alt="saphora-proj-img"
          class="saphora__img"
        /> <br>
        <h2 class="saphora__h1">Blog</h2>
        <div class="project__description">
          Saphora is an online ecommerce store which is built with paypal integration.
          Users can choose to pay with their credit cards or paypal.
        </div>
        <button class="btn project__btn">Live Demo</button>
        <button class="btn project__btn project__github">Github</button>
      </div>
    </div>
