<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>projects</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1 class="projects__h1">Latest Projects</h1>
    <div class="projects">
      <div class="project__card">
        <img
          src="/images/djangoproject.jpg"
          alt="saphora-proj-img"
          class="project__img"
        /> <br>
        <h2 class="project__title">Saphora</h2>
        <div class="project__description">
          Saphora is an online ecommerce store which is built with paypal integration.
          Users can choose to pay with their credit cards or paypal.
        </div>
        <div class="project__btns">
          <button class="btn project__btn">Live Demo</button>
          <button class="btn project__btn">Docker Image</button>
        </div>
      </div>

      <div class="project__card">
        <img
          src="/images/djangoproject.jpg"
          alt="saphora-proj-img"
          class="project__img"
        /> <br>
        <h2 class="project__title">Starbuy</h2>
        <div class="project__description">
          Starbuy is a production grade backend built with django and djangorestframework.
          which has all the endpoints for managing an online ecommerce website.
        </div>
        <div class="project__btns">
          <button class="btn project__btn">Live Demo</button>
          <button class="btn project__btn">Docker Image</button>
        </div>
      </div>

      <div class="project__card">
        <img
          src="/images/djangoproject.jpg"
          alt="saphora-proj-img"
          class="project__img"
        /> <br>
        <h2 class="project__title">Portfolio site</h2>
        <div class="project__description">
          My portfolio website i built from scratch with HTML5, CSS3, javascript.
          Its is also very responsive to 
          all devices including mobiles, tablets and desktops.
        </div>
        <div class="project__btns">
          <button class="btn project__btn">Live Demo</button>
          <button class="btn project__btn">Docker Image</button>
        </div>
      </div>

      <div class="project__card">
        <img
          src="/images/djangoproject.jpg"
          alt="saphora-proj-img"
          class="project__img"
        /> <br>
        <h2 class="project__title">Blog</h2>
        <div class="project__description">
          This is my personal blog I created with Django, HTML5, CSS3, bootsrap and javascript.
          It is built mainly for django devlopers who want to share new ideas.
        </div>
        <div class="project__btns">
          <button class="btn project__btn">Live Demo</button>
          <button class="btn project__btn">Docker Image</button>
        </div>
      </div>
    </div>
    </body>
