<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>projects</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Latest Projects</h1>
    <div class="projects">
      <div class="project__card">
        <img
          src="/images/djangoproject.jpg"
          alt="saphora-proj-img"
          class="project__img"
        /> <br>
        <h2 class="project__title">Saphora</h2>
        <div class="project__description">
          Saphora is an online ecommerce store which is built with paypal integration.
          Users can choose to pay with their credit cards or paypal.
        </div>
        <div class="project__btns">
          <button class="btn project__btn">Live Demo</button>
          <button class="btn project__btn">Docker Image</button>
        </div>
      </div>

      <div class="project__card">
        <img
          src="/images/placeholder.png"
          alt="saphora-proj-img"
          class="project__img"
        /> <br>
        <h2 class="project__title">Starbuy</h2>
        <div class="project__description">
          Saphora is an online ecommerce store which is built with paypal integration.
          Users can choose to pay with their credit cards or paypal.
        </div>
        <div class="project__btns">
          <button class="btn project__btn">Live Demo</button>
          <button class="btn project__btn">Docker Image</button>
        </div>
      </div>

      <div class="project__card">
        <img
          src="/images/placeholder.png"
          alt="saphora-proj-img"
          class="project__img"
        /> <br>
        <h2 class="project__title">Portfolio site</h2>
        <div class="project__description">
          Saphora is an online ecommerce store which is built with paypal integration.
          Users can choose to pay with their credit cards or paypal.
        </div>
        <div class="project__btns">
          <button class="btn project__btn">Live Demo</button>
          <button class="btn project__btn">Docker Image</button>
        </div>
      </div>

      <div class="project__card">
        <img
          src="/images/placeholder.png"
          alt="saphora-proj-img"
          class="project__img"
        /> <br>
        <h2 class="project__title">Blog</h2>
        <div class="project__description">
          Saphora is an online ecommerce store which is built with paypal integration.
          Users can choose to pay with their credit cards or paypal.
        </div>
        <div class="project__btns">
          <button class="btn project__btn">Live Demo</button>
          <button class="btn project__btn">Docker Image</button>
        </div>
      </div>
    </div>
