<!-- <div class="skills">
  <div class="skill__card">
    <span class="skill__title">Python</span> <br />
    <span class="skill__desc">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo,
      accusantium?
    </span>
  </div>
  <div class="skill__card">
    <span class="skill__title">Django</span> <br />
    <span class="skill__desc">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo,
      accusantium?
    </span>
  </div>
  <div class="skill__card">
    <span class="skill__title">DRF</span> <br />
    <span class="skill__desc">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo,
      accusantium?
    </span>
  </div>
  <div class="skill__card">
    <span class="skill__title">HTML5 & CSS 3</span> <br />
    <span class="skill__desc">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo,
      accusantium?
    </span>
  </div>
  <div class="skill__card">
    <span class="skill__title">Docker</span> <br />
    <span class="skill__desc">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo,
      accusantium?
    </span>
  </div>
  <div class="skill__card">
    <span class="skill__title">Git & Github</span> <br />
    <span class="skill__desc">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo,
      accusantium?
    </span>
  </div>
</div> -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <div id="skills-section">
  
    <div class="skills">
      <div class="skill__card">
        <span class="skill__title">Python</span> <br />
        <span class="skill__desc">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo,
          accusantium?
        </span>
      </div>
      <div class="skill__card">
        <span class="skill__title">Django</span> <br />
        <span class="skill__desc">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo,
          accusantium?
        </span>
      </div>
      <div class="skill__card">
        <span class="skill__title">DRF</span> <br />
        <span class="skill__desc">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo,
          accusantium?
        </span>
      </div>
      <div class="skill__card">
        <span class="skill__title">HTML5 & CSS 3</span> <br />
        <span class="skill__desc">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo,
          accusantium?
        </span>
      </div>
      <div class="skill__card">
        <span class="skill__title">Docker</span> <br />
        <span class="skill__desc">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo,
          accusantium?
        </span>
      </div>
      <div class="skill__card">
        <span class="skill__title">Git & Github</span> <br />
        <span class="skill__desc">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo,
          accusantium?
        </span>
      </div>
    </div>
</div>

</body>
</html>