<div class="skills">
  <div class="skill__card">
    <span class="skill__title">Python</span> <br />
    <span class="skill__desc">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo,
      accusantium?
    </span>
  </div>
  <div class="skill__card">
    <span class="skill__title">Django</span> <br />
    <span class="skill__desc">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo,
      accusantium?
    </span>
  </div>
  <div class="skill__card">
    <span class="skill__title">DRF</span> <br />
    <span class="skill__desc">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo,
      accusantium?
    </span>
  </div>
  <div class="skill__card">
    <span class="skill__title">HTML5 & CSS 3</span> <br />
    <span class="skill__desc">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo,
      accusantium?
    </span>
  </div>
  <div class="skill__card">
    <span class="skill__title">Docker</span> <br />
    <span class="skill__desc">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo,
      accusantium?
    </span>
  </div>
  <div class="skill__card">
    <span class="skill__title">Git & Github</span> <br />
    <span class="skill__desc">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo,
      accusantium?
    </span>
  </div>
</div>